<!--shared header-->
<%- include ../partials/header2.ejs %>
<main role="main" class="clearfix">
    <div class="container container_resize container_margin">
        <h1><%= title %></h1>
        <!--a link to add a new branch-->
        <a href="add" class="manage_link">Add a new branch</a>
        <!--branches directory with five fields for each business-->
        <table>
            <thead>
            <tr>
                <th scope="rowgroup">Branch #</th>
                <th scope="col">Location</th>
                <th scope="col">Owner</th>
                <th scope="col">Employees</th>
                <th scope="col">Rate</th>
                <th scope="col">Edit</th>
            </tr>
            </thead>
            <tbody>
            <% for (var i = 0; i < branches.length; i++) { %>
            <tr>
                <th scope="row"><%= branches[i].number %></th>
                <td><%= branches[i].location %></td>
                <td><%= branches[i].owner %></td>
                <td><%= branches[i].employees %></td>
                <td><%= branches[i].rate %></td>
                <td><a href="<%= branches[i]._id %>" id="edit_branch">Edit</a></td>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</main>
<!--shared footer-->
<%- include ../partials/footer.ejs %>